.hero{
    width: 100%;
    height: 100%;
}

.lvideo{
    margin-top: 4rem;
    margin: 2rem;
    border-radius: 2rem;
}

.info{
    align-items: center;
    justify-content: center;
    display: flex;
}

.mega{
    color:rgb(216, 139, 51);
    margin: 2rem;
    margin-bottom: 1rem;
}

.para{
    margin: 2rem;
    width: 50rem;
    
}

.aims{
    align-items: center;
    justify-content: center;
    display: flex;
    color:rgb(216, 139, 51);

}

.computer{
    width: 8rem;
    margin: 3rem;
}

.edu{
    width: 8rem;
    margin: 3rem;
}

.art{
    width: 8rem;
    margin: 3rem;
}

.game{
    width: 8rem;
    margin: 3rem;
}

.works, .paras{
    align-items: center;
    justify-content: center;
    display: flex;
}

.parat{
    width: 8rem;
    margin: 3rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;
}

.parae{
    width: 8rem;
    margin: 3rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;

    
}

.paraa{
    width: 8rem;
    margin: 3rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;

}

.parag{
    width: 8rem;
    margin: 3rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: right;

}







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f2f2f2;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 25s slide infinite linear;
  }
  
  .logos-slide img {
    height: 10rem;
    margin: 0 40px;
  }

  .partner{
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
    color: rgb(216, 139, 51);
  }



